p,h1,h2,ul,li{
              margin: 10px;
              padding: 5px;
              box-sizing: border-box;
              }
a{
  position: absolute;
  Margin: 20px;
  Padding: 10px;
  Text-align: center;
  align-items: center;
  Display: flex;
  }
